body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
:root {
  --main-color-two: #19c8fa;
  --mainColor: #edeff5;
  --blue: #107af6;
  --white: #fff;
  --textColor: rgba(105, 105, 105, 0.8);
}

a {
  color: #00b7ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}
/* start header */

.header {
  /* we make it absolute cause the header above a background of another 
  section so when it's absolute it's out the flow */
  position: absolute;
  width: 100%;
  left: 0;
}
.header .containerHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
  /* to make the height inchangeable when we go to the phone  */
  min-height: 99.2px;
}
.header .containerHeader::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 1px;
  /* the line stop in the element exactly so we delete the 15px padding-left 
 and 15px right of the container  */
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
}
.containerHeader .logo img {
  height: 30px;
}
.nav {
  /* this wil make tha nav take the whole space until the logo */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 33px;
}

.nav ul:not(.dropdown-menu) {
  display: flex;
}

.nav ul li a:not(.dropdown-item),
.nav ul li a:not(.dropdown-item) button {
  /* to make the li respect the propreties */
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14;
  transition: 0.3s;
}
.nav ul li a:not(.dropdown-item) {
  padding: 40px 0;
}
.nav ul li a:hover,
.nav ul li a:hover button,
.nav ul li a.active button,
.nav ul li a.active {
  color: var(--main-color-two);
  border-bottom: var(--main-color-two) solid 1px;
  /* to make this border up to the line */
  position: relative;
  z-index: 2;
}
.nav ul li a {
  color: white;
}

.header .nav .search {
  width: 40px;
  height: 30px;
  /* padding: 40px 10px; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: 1px solid white;
  margin-left: 40px;
  font-size: 17px;
}
/* media customisition */
@media (max-width: 767px) {
  .header .nav i.media {
    display: block;
    color: white;
  }
  .header .nav ul {
    display: none;
  }
  .header .nav i.media:hover + ul {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    /* the first parent have relative the child ul will go under it 
    in this case it's container */
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header .containerHeader .nav ul li a {
    padding: 13px;
    background-color: rgb(0 0 0 / 0.7);
  }
}
@media (min-width: 768px) {
  .header .nav i.media {
    display: none;
  }
}

/* end header */
/* 3 */
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
/* end button */

/* start login form */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.no-style-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.ask button {
  position: absolute;
  display: block;
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  padding: 5px;
  margin: 0;
  margin-left: 5px;
  border-radius: 5px;
  transform: translate(34px, 10px);
}

.ask button:hover {
  color: #03e9f4;
}
.ask {
  /* position: absolute; */
  bottom: -25px;
  left: 50%;
  transform: translate(28%, 43%);
  color: #ffffff;
  font-size: 12px;
  margin-top: 10px;
}
.login-box a:hover {
  /* background: #03e9f4; */
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1).active {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2).active {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3).active {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4).active {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* end login form */

/* start articles home*/
ul {
  list-style: none;
}
.myPagination,
.articlesContainer {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.articlesContainer {
  position: relative;
}
.articlesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* strat pagination */
.myPagination {
  height: fit-content;
  padding: 10px;
  position: relative;
}
.pagination {
  position: fixed;
  bottom: 40px;
  max-width: 468px;
  z-index: 99;
}
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 468px;
  background-color: rgb(32, 178, 170, 0.9);
  padding: 8px;
  border-radius: 50px;
  margin: 0 auto;
}
.pagination ul li {
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.pagination ul li.numb {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 3px;
  transition: all 0.3s ease;
}
.pagination ul li.btnp {
  padding: 0 20px;
}
.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}
.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
}

.pagination .dots {
  font-size: 22px;
  cursor: default;
}
.pagination li.active,
.pagination li.numb:hover,
.pagination li.btnp:hover {
  background-color: rgb(255, 255, 255);
  color: #20b2aa;
  /* rgb(33, 54, 78) */
}
/* end pagination */

/* add to boot */
.card-body {
  border: none;
}

/* loading animation */

.loading {
  display: flex;
  height: calc(100vh + 50px);
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  overflow: hidden;
}
.load {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.load div {
  width: 20px;
  height: 20px;
  background-color: #20b2aa;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;

  /* to make the circles of loading go up and down */
  animation-direction: alternate;
}

.load .two {
  /* to make a litle delay betwen the first and the 2nd circle  */
  animation-delay: 0.3s;
}
.load .three {
  /* to make a litle delay betwen the 2nd and the 3rd circle  */
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  to {
    opacity: 0.2;
    /* to make the loading start from the top  */
    transform: translateY(-20px);
  }
}
@media (max-width: 780px) {
  .card-img-top {
    width: 100% !important;
  }
  .pagination {
    width: 400px;
  }
  .pagination ul {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .pagination {
    width: 350px;
  }
}
/* end articles home */

/* start navbar */
.navBar h2 {
  color: rgba(0, 172, 238, 1);
}

.navBar section {
  display: flex;
  align-items: center;
}

.navBar section input {
  width: 300px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  background-color: var(--mainColor);
  padding-left: 15px;
  margin: 0 8px;
  outline: none;
}

.navBar section button {
  padding: 8px 21px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.navBar section img {
  width: 35px;
  margin-left: 20px;
}

/* add article */
.addarticleInput {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  border-radius: 5px;
}

.addarticleInput section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 30px;
}

.addarticleInput section input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.addarticleInput button,
.addarticleInput select {
  padding: 7px 7px;
  text-align: center;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 91px;
}
